body{
    font-family: "Arial Black";
    font-size: 20px;
}

select, input {
    font-family: "Arial Black";
    font-size: 18px;
    border-radius: 12px;
    border: 3px solid pink;
}

button {
    font-family: "Arial Black";
    font-size: 18px;
    background-color: white;
    border-radius: 12px;
    border: 3px solid hotpink;
    margin: 10px;
}

button:hover {
    background-color: hotpink;
    border: 3px solid pink;
    color: white;
}

.container{
    text-align: center;
    margin: auto;
    width: 90%;
}

.child{
    display: inline-block;
    vertical-align: middle;
    width: 800px;
    padding: 20px;
}

#controller{
    position: relative;
    line-height: 2;
    left: 31%;
    text-align: left;
    padding-bottom: 20px;
}

#cell{
    position: relative;
    left: 30%;
    height: 320px;
    width: 320px;
    border: 2px solid #ff42e5;
}

#writeup{
    font-family: "Arial";
    font-size: 20px;
    margin: auto;
    width: 50%;
    line-height: 2;
    padding-top: 10px;
}

h1, h2{
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
}

br {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 20px; /* change this to whatever height you want it */
}

.caption{
    display: flex;
    justify-content: center;
    font-family: "Arial Black";
}

#names{
    display: flex;
    justify-content: right;
    text-align: left;
    font-family: "Arial Black";
    letter-spacing: 2px;
    color: #e025bb;
}

img {
    display: block;
    width: 60%;
    height: auto;
    margin: auto;
}

iframe {
    display: block;
    width: 80%;
    height: 600px;
    margin: auto;
}
